body {
    background-color: lightgrey;
}

header {
    border-bottom: #ccc solid 1px;
    background-color: white;
    margin: 0px;
}

h1, h2, h3, a {
    color: #70B77E;
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: Raleway, sans-serif;
}

.contentContainer {
    background-color: white;
    margin-top: 20px;
    border-radius:.50rem!important
}

.contentHeader {
    padding-top: 10px;
}

/* ---------------START OF NAVBAR CSS------------- */
#navContainer {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#nameBox {
    border: 0;
    padding: 0;
    background-color: #70B77E;
    color: #ffffff;
    font-size: 36px;
    padding: 5px;
}

#navList {
    margin-left: auto;
}

a.nav-link {
    font-size: 18px;
    color: #70B77E;
}

a.nav-link:hover {
    color: #4D9933;
}

@media only screen and (max-width: 576px) {
    #nameBox {
        display: block;
        text-align: center;
        width: 100%;

    }

    #navList {
        margin-left: auto;
        margin-right: auto;
    }

    .nav-link {
        text-align: center;
    }
}

/* ---------------END OF NAVBAR CSS------------- */

/* .projectThumb {
    display: flex;
    max-width: 300px;
    height: auto;
} */

.projectTitle {
    position: aboslute;
    text-align: center;
    bottom: 0;
}

.footerContainer {
    padding: 16px;
    background-color: #415D43;
    color: white;
}